@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #111111;
  overflow-x: hidden;
}

.btn:hover {
  background-color: #2779bd;
}
.range-input {
  background: #006950;

  -webkit-slider-thumb {
    background: #006950;
  }
}

.nav {
  flex-wrap: nowrap;
  margin: 0.5rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 30px;
  color: #fafafa;
  background: #3a9ea3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  white-space: nowrap;
}
.button2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 16px 56px;
  color: #1b1a1a;
  background: #f7f9fc;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  outline-color: #111111;
  white-space: nowrap;
}

#satisfiedCustomers,
#trustedBrands {
  font-size: 24px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

.testimonial-section {
  background-color: #f9f9f9;
}

.testimonial-card {
  border: 1px solid #e5e5e5;
}

.testimonial-card p {
  line-height: 1.5;
}

.testimonial-card p:first-of-type {
  margin-bottom: 1.5rem;
}

.testimonial-card p:last-of-type {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Center testimonials on small screens */
@media (max-width: 767px) {
  .testimonial-section {
    text-align: center;
  }
}

.appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.appointment-card {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}

.form-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 16px;
}

.success-message {
  color: #32a852;
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
}

.select-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 16px;
  appearance: none;
  background: #fff;

  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 16px;
  resize: vertical;
}

@media (max-width: 767px) {
  .card {
    box-shadow: none;
  }
}
